In [75]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
from selenium.webdriver.common.action_chains import ActionChains
import requests
import time
from selenium.common.exceptions import NoSuchElementException

# Q 1. Scrape the details of most viewed videos on YouTube from Wikipedia.
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [3]:
#  connecting webdriver
driver=webdriver.Chrome(r"chromedriver.exe")
#Oppening url
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")

# maximize window
driver.maximize_window()

# Scrapping rank
rank=[]
data= driver.find_elements(By.XPATH, '//*[@id="mw-content-text"]/div[1]/table[2]/tbody/tr/td')
for i in data[0:300:6]:
    rank.append(i.text)
    
# Scrapping video name
name=[]
for i in data[1:300:6]:
    name.append(i.text)
    
    
# Scrapping artist name
artist=[]
for i in data[2:300:6]:
    artist.append(i.text)
    
# Scrapping upload date
date=[]
for i in data[4:300:6]:
    date.append(i.text)
    
# Scrapping views
views=[]
for i in data[3:300:6]:
    views.append(i.text)    
    
df=pd.DataFrame({'Rank':rank, 'Video Name':name, 'Artist':artist, 'Upload date':date, 'Views in Billions':views})

In [4]:
df

,Rank,Video Name,Artist,Upload date,Views in Billions
0,1.,"""Baby Shark Dance""[4]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",12.00
1,2.,"""Despacito""[7]",Luis Fonsi,"January 12, 2017",8.05
2,3.,"""Johny Johny Yes Papa""[14]",LooLoo Kids,"October 8, 2016",6.57
3,4.,"""Bath Song""[15]",Cocomelon – Nursery Rhymes,"May 2, 2018",5.89
4,5.,"""Shape of You""[16]",Ed Sheeran,"January 30, 2017",5.88
5,6.,"""See You Again""[18]",Wiz Khalifa,"April 6, 2015",5.74
6,7.,"""Phonics Song with Two Words""[23]",ChuChu TV,"March 6, 2014",5.08
7,8.,"""Uptown Funk""[24]",Mark Ronson,"November 19, 2014",4.79
8,9.,"""Wheels on the Bus""[25]",Cocomelon – Nursery Rhymes,"May 24, 2018",4.77
9,10.,"""Learning Colors – Colorful Eggs on a Farm""[26]",Miroshka TV,"February 27, 2018",4.76
10,11.,"""Gangnam Style""[27]",Psy,"July 15, 2012",4.64
11,12.,"""Masha and the Bear – Recipe for Disaster""[32]",Get Movies,"January 31, 2012",4.52
12,13.,"""Dame Tu Cosita""[33]",El Chombo,"April 5, 2018",4.18
13,14.,"""Sugar""[34]",Maroon 5,"January 14, 2015",3.80
14,15.,"""Roar""[35]",Katy Perry,"September 5, 2013",3.70
15,16.,"""Counting Stars""[36]",OneRepublic,"May 31, 2013",3.70
16,17.,"""Axel F""[37]",Crazy Frog,"June 16, 2009",3.67
17,18.,"""Sorry""[38]",Justin Bieber,"October 22, 2015",3.62
18,19.,"""Thinking Out Loud""[39]",Ed Sheeran,"October 7, 2014",3.53
19,20.,"""Baa Baa Black Sheep""[40]",Cocomelon – Nursery Rhymes,"June 25, 2018",3.46
20,21.,"""Dark Horse""[41]",Katy Perry,"February 20, 2014",3.42
21,22.,"""Waka Waka (This Time for Africa)""[42]",Shakira,"June 4, 2010",3.40
22,23.,"""Faded""[43]",Alan Walker,"December 3, 2015",3.38
23,24.,"""Let Her Go""[44]",Passenger,"July 25, 2012",3.36
24,25.,"""Girls Like You""[45]",Maroon 5,"May 31, 2018",3.35
25,26.,"""Perfect""[46]",Ed Sheeran,"November 9, 2017",3.33
26,27.,"""Bailando""[47]",Enrique Iglesias,"April 11, 2014",3.31
27,28.,"""Lean On""[48]",Major Lazer,"March 22, 2015",3.31
28,29.,"""Humpty the train on a fruits ride""[49]",Kiddiestv Hindi – Nursery Rhymes & Kids Songs,"January 26, 2018",3.26
29,30.,"""Lakdi Ki Kathi""[50]",Jingle Toons,"June 14, 2018",3.24

# Q 2. Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1
st ODI)
B) Series
C) Place
D) Date
E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [11]:
#  connecting webdriver
driver=webdriver.Chrome(r"chromedriver.exe")
#Oppening url
driver.get("https://www.bcci.tv/")

# maximize window
driver.maximize_window()
time.sleep(5)

search=driver.find_element(By.XPATH,"/html/body/nav/div[1]/div[2]/ul[1]/li[2]")
search.click()

In [12]:

while True:
    try:
        
        element= driver.find_element(By.XPATH,'//*[@id="fixtures"]/div[3]/div[2]/div/button')
        webdriver.ActionChains(driver).move_to_element(element).click(element ).perform()
        time.sleep(2)
    except NoSuchElementException:
        break

In [13]:
# Scrapping title
title=[]
t1= driver.find_elements(By.XPATH, '//span[@class="matchOrderText ng-binding ng-scope"]')
for i in t1:
    i=i.text
    i=i.split(' ')[1]
    title.append(i)
    
# Scrapping series    
series=[]
s1= driver.find_elements(By.XPATH, '//span[@class="ng-binding"]')
for i in s1:
    i=i.text
    series.append(i)
    
# Scrapping place of match   
place=[]
p1= driver.find_elements(By.XPATH, '//div[@class="fix-place ng-binding ng-scope"]')
for i in p1:
    i=i.text
    i=i.split('-')[1]
    place.append(i)
    
# Scrapping date of match       
date=[]
d1= driver.find_elements(By.XPATH, '//h5[@class="ng-binding"]')
for i in d1:
    i=i.text
    date.append(i)
    

# Scrapping time of match   
time=[]
t1= driver.find_elements(By.XPATH, '//h5[@class="text-right ng-binding"]')
for i in t1:
    i=i.text
    time.append(i)  
    
# Creating dataframe    
df=pd.DataFrame({'Match title':title, 'Series':series, 'Place':place, 'Date':date, 'Time':time})

In [14]:
df

,Match title,Series,Place,Date,Time
0,T20I,INDIA WOMEN U19 TOUR OF SOUTH AFRICA WOMEN U19,"Steyn City School Ground, Pretoria",2 JAN 2023,5:15 PM IST
1,T20I,INDIA WOMEN U19 TOUR OF SOUTH AFRICA WOMEN U19,"Steyn City School Ground, Pretoria",3 JAN 2023,1:30 PM IST
2,T20I,SRI LANKA TOUR OF INDIA T20 SERIES 2022-23,"Wankhede Stadium, Mumbai",3 JAN 2023,7:00 PM IST
3,T20I,INDIA WOMEN U19 TOUR OF SOUTH AFRICA WOMEN U19,"Steyn City School Ground, Pretoria",4 JAN 2023,1:30 PM IST
4,T20I,SRI LANKA TOUR OF INDIA T20 SERIES 2022-23,"Maharashtra Cricket Association Stadium, Pune",5 JAN 2023,7:00 PM IST
5,T20I,SRI LANKA TOUR OF INDIA T20 SERIES 2022-23,"Saurashtra Cricket Association Stadium, Rajkot",7 JAN 2023,7:00 PM IST
6,ODI,SRI LANKA TOUR OF INDIA ODI SERIES 2022-23,"Barsapara Cricket Stadium, Guwahati",10 JAN 2023,1:30 PM IST
7,ODI,SRI LANKA TOUR OF INDIA ODI SERIES 2022-23,"Eden Gardens, Kolkata",12 JAN 2023,1:30 PM IST
8,ODI,SRI LANKA TOUR OF INDIA ODI SERIES 2022-23,"Greenfield International Stadium, Thiruvanant...",15 JAN 2023,1:30 PM IST
9,ODI,NEW ZEALAND TOUR OF INDIA ODI SERIES 2022-23,"Rajiv Gandhi International Stadium, Hyderabad",18 JAN 2023,1:30 PM IST
10,ODI,NEW ZEALAND TOUR OF INDIA ODI SERIES 2022-23,Shaheed Veer Narayan Singh International Cric...,21 JAN 2023,1:30 PM IST
11,ODI,NEW ZEALAND TOUR OF INDIA ODI SERIES 2022-23,"Holkar Cricket Stadium, Indore",24 JAN 2023,1:30 PM IST
12,T20I,NEW ZEALAND TOUR OF INDIA T20 SERIES 2022-23,"JSCA International Stadium Complex, Ranchi",27 JAN 2023,7:30 PM IST
13,T20I,NEW ZEALAND TOUR OF INDIA T20 SERIES 2022-23,Bharat Ratna Shri Atal Bihari Vajpayee Ekana ...,29 JAN 2023,7:30 PM IST
14,T20I,NEW ZEALAND TOUR OF INDIA T20 SERIES 2022-23,"Narendra Modi Stadium, Ahmedabad",1 FEB 2023,7:30 PM IST
15,Test,AUSTRALIA TOUR OF INDIA TEST SERIES 2022-23,"Vidarbha Cricket Association Stadium, Nagpur",9 FEB 2023,9:30 AM IST
16,Test,AUSTRALIA TOUR OF INDIA TEST SERIES 2022-23,"Arun Jaitley Stadium, Delhi",17 FEB 2023,9:30 AM IST
17,Test,AUSTRALIA TOUR OF INDIA TEST SERIES 2022-23,"Himachal Pradesh Cricket Association Stadium,...",1 MAR 2023,9:30 AM IST
18,Test,AUSTRALIA TOUR OF INDIA TEST SERIES 2022-23,"Narendra Modi Stadium, Ahmedabad",9 MAR 2023,9:30 AM IST
19,ODI,AUSTRALIA TOUR OF INDIA ODI SERIES 2022-23,"Wankhede Stadium, Mumbai",17 MAR 2023,1:30 PM IST
20,ODI,AUSTRALIA TOUR OF INDIA ODI SERIES 2022-23,Dr YS Rajasekhara Reddy ACA,19 MAR 2023,1:30 PM IST
21,ODI,AUSTRALIA TOUR OF INDIA ODI SERIES 2022-23,"MA Chidambaram Stadium, Chennai",22 MAR 2023,1:30 PM IST

# 3. Scrape the details of selenium exception from guru99.com.
Url = https://www.guru99.com/
You need to find following details:
A) Name
B) Description
Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [18]:
#  connecting webdriver
driver=webdriver.Chrome(r"chromedriver.exe")
#Oppening url
driver.get("https://www.guru99.com/")

# maximize window
driver.maximize_window()
time.sleep(10)

#Putting input
title = driver.find_element(By.XPATH,'/html/body/div[1]/div/div/div/main/div/article/div/div[1]/div[1]/div[2]/div/div[1]/div/div/div/form/table/tbody/tr/td[1]/div/table/tbody/tr/td[1]/input')
title.send_keys('selenium exception handling')

# Click search button
search=driver.find_element(By.XPATH,"/html/body/div[1]/div/div/div/main/div/article/div/div[1]/div[1]/div[2]/div/div[1]/div/div/div/form/table/tbody/tr/td[2]/button")
search.click()
time.sleep(5)

#Clicking on new site/url
element=driver.find_element(By.XPATH,'/html/body/div[1]/div/div/div/main/div/article/div/div[1]/div[1]/div[2]/div/div[1]/div/div/div/div[1]/div[6]/div[2]/div/div/div[1]/div[1]/div[1]/div[1]/div/a')
webdriver.ActionChains(driver).move_to_element(element).click(element ).perform()
time.sleep(5)

#switching window
driver.switch_to.window(driver.window_handles[1])
time.sleep(5)

# scraping exceptions name
name=[]
n1= driver.find_elements(By.XPATH, '//*[@id="post-1953"]/div/div/p')
for i in n1[:41]:
    i=i.text
    i=i.split(':')[0]
    i=i.split('.')[1]
    name.append(i)
    
    
# scraping exceptions discription
Description=[]
for i in n1[:41]:
    i=i.text
    i=i.split(':')[1]
    Description.append(i)
    
    
df=pd.DataFrame({'Name':name,'Description note':Description})

In [19]:
df

,Name,Description note
0,ElementNotVisibleException,This type of Selenium exception occurs when a...
1,ElementNotSelectableException,This Selenium exception occurs when an elemen...
2,NoSuchElementException,This Exception occurs if an element could not...
3,NoSuchFrameException,This Exception occurs if the frame target to ...
4,NoAlertPresentException,This Exception occurs when you switch to no p...
5,NoSuchWindowException,This Exception occurs if the window target to...
6,StaleElementReferenceException,This Selenium exception occurs happens when t...
7,SessionNotFoundException,The WebDriver is acting after you quit the br...
8,TimeoutException,Thrown when there is not enough time for a co...
9,WebDriverException,This Exception takes place when the WebDriver...
10,ConnectionClosedException,This type of Exception takes place when there...
11,ElementClickInterceptedException,The command may not be completed as the eleme...
12,ElementNotInteractableException,This Selenium exception is thrown when any el...
13,ErrorInResponseException,This happens while interacting with the Firef...
14,ErrorHandler,Exception is used as a placeholder in case if...
15,ImeActivationFailedException,This expectation will occur when IME engine a...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certi...
18,InvalidArgumentException,It occurs when an argument does not belong to...
19,InvalidCookieDomainException,This happens when you try to add a cookie und...
20,InvalidCoordinatesException,This type of Exception matches an interacting...
21,InvalidElementStateException,It occurs when command can’t be finished when...
22,InvalidSessionIdException,This Exception took place when the given sess...
23,InvalidSwitchToTargetException,This occurs when the frame or window target t...
24,JavascriptException,This issue occurs while executing JavaScript ...
25,JsonException,It occurs when you afford to get the session ...
26,NoSuchAttributeException,This kind of Exception occurs when the attrib...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the ...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching...
30,NotFoundException,This Exception is a subclass of WebDriverExce...
31,RemoteDriverServerException,This Selenium exception is thrown when the se...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be su...
34,UnableToSetCookieException,This occurs if a driver is unable to set a co...
35,UnexpectedTagNameException,Happens if a support class did not get a web ...
36,UnhandledAlertException,This expectation occurs when there is an aler...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an ...
38,UnknownMethodException,This Exception happens when the requested com...
39,UnreachableBrowserException,This Exception occurs only when the browser i...
40,UnsupportedCommandException,This occurs when remote WebDriver doesn’t sen...

# 4. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP(18-19)- at current prices
D) GSDP(19-20)- at current prices
E) Share(18-19)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code

In [20]:
#  connecting webdriver
driver=webdriver.Chrome(r"chromedriver.exe")
#Oppening url
driver.get("http://statisticstimes.com/")

# maximize window
driver.maximize_window()

#clicking on economy
economy=driver.find_element(By.XPATH,"/html/body/div[2]/div[1]/div[2]/div[2]/button")
economy.click()

#clicking on india in dropdown
india=driver.find_element(By.XPATH,"/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]")
india.click()

In [38]:
while True:
    
    try:
        element=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[2]/div/div/div[2]/div/div/div[3]/div/span")
        webdriver.ActionChains(driver).move_to_element(element).click(element ).perform()
    except: 
        break

In [39]:
gdp_states=driver.find_element(By.XPATH,"/html/body/div[2]/div[2]/div[2]/ul/li[1]/a")
gdp_states.click()

In [40]:
# scraping rank
rank=[]
r1= driver.find_elements(By.XPATH, '//td[@class="data1"]')
for i in r1[:33]:
    i=i.text
    rank.append(i)

#scraping name    
name=[]
n1= driver.find_elements(By.XPATH, '//td[@class="name"]')
for i in n1[:33]:
    i=i.text
    name.append(i)  
    
#scraping GSDP(18-19)- at current prices    
GSDP18_19=[]
g1= driver.find_elements(By.XPATH, '//td[@class="data sorting_1"]')
for i in g1[:33]:
    i=i.text
    GSDP18_19.append(i)
    
    
#scraping GSDP(19-20)- at current prices
GSDP19_20=[]
data= driver.find_elements(By.XPATH, '//td[@class="data"]')
for i in data[:164:5]:
    i=i.text
    GSDP19_20.append(i)  

#scraping Share(18-19)   
share=[]
for i in data[1:165:5]:
    i=i.text
    share.append(i)  
    
    
#scraping GDP  
GDP=[]
for i in data[2:165:5]:
    i=i.text
    GDP.append(i)
    
    
df=pd.DataFrame({'Rank':rank,'State':name,'GSDP(18-19)- at current prices':GSDP18_19,'GSDP(19-20)- at current prices':GSDP19_20,'Share(18-19)':share,'GDP($ billion)':GDP })

In [41]:
df

,Rank,State,GSDP(18-19)- at current prices,GSDP(19-20)- at current prices,Share(18-19),GDP($ billion)
0,1,Maharashtra,"2,632,792",-,13.94%,399.921
1,2,Tamil Nadu,"1,630,208","1,845,853",8.63%,247.629
2,3,Uttar Pradesh,"1,584,764","1,687,818",8.39%,240.726
3,4,Gujarat,"1,502,899",-,7.96%,228.290
4,5,Karnataka,"1,493,127","1,631,977",7.91%,226.806
5,6,West Bengal,"1,089,898","1,253,832",5.77%,165.556
6,7,Rajasthan,"942,586","1,020,989",4.99%,143.179
7,8,Andhra Pradesh,"862,957","972,782",4.57%,131.083
8,9,Telangana,"861,031","969,604",4.56%,130.791
9,10,Madhya Pradesh,"809,592","906,672",4.29%,122.977
10,11,Kerala,"781,653",-,4.14%,118.733
11,12,Delhi,"774,870","856,112",4.10%,117.703
12,13,Haryana,"734,163","831,610",3.89%,111.519
13,14,Bihar,"530,363","611,804",2.81%,80.562
14,15,Punjab,"526,376","574,760",2.79%,79.957
15,16,Odisha,"487,805","521,275",2.58%,74.098
16,17,Assam,"315,881",-,1.67%,47.982
17,18,Chhattisgarh,"304,063","329,180",1.61%,46.187
18,19,Jharkhand,"297,204","328,598",1.57%,45.145
19,20,Uttarakhand,"245,895",-,1.30%,37.351
20,21,Jammu & Kashmir,"155,956",-,0.83%,23.690
21,22,Himachal Pradesh,"153,845","165,472",0.81%,23.369
22,23,Goa,"73,170","80,449",0.39%,11.115
23,24,Tripura,"49,845","55,984",0.26%,7.571
24,25,Chandigarh,"42,114",-,0.22%,6.397
25,26,Puducherry,"34,433","38,253",0.18%,5.230
26,27,Meghalaya,"33,481","36,572",0.18%,5.086
27,28,Sikkim,"28,723","32,496",0.15%,4.363
28,29,Manipur,"27,870","31,790",0.15%,4.233
29,30,Nagaland,"27,283",-,0.14%,4.144
30,31,Arunachal Pradesh,"24,603",-,0.13%,3.737
31,32,Mizoram,"22,287","26,503",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

# 5. Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used

In [45]:
#  connecting webdriver
driver=webdriver.Chrome(r"chromedriver.exe")
#Oppening url
driver.get("https://github.com/")

# maximize window
driver.maximize_window()

#clicking on dropdown
saerch=driver.find_element(By.XPATH, '/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button').click()

#clicking on trending from dropdown
trend=driver.find_element(By.XPATH, '/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/ul[3]/li[3]/a').click()

In [46]:
#scraping the title
title=[]
t1=driver.find_elements(By.XPATH, '//h1[@class="h3 lh-condensed"]')
for i in t1:
    title.append(i.text)

    
discription=[]
d1=driver.find_elements(By.XPATH, '//p[@class="col-9 color-fg-muted my-1 pr-4"]')
for i in d1:
    discription.append(i.text)    
    
    
df=pd.DataFrame({'Repository title':title,'Repository description':discription})

In [47]:
df

,Repository title,Repository description
0,zlib-searcher / zlib-searcher,search zlib/libgen index to get ipfs_cid.
1,LAION-AI / Open-Assistant,OpenAssistant is a chat-based assistant that u...
2,vinta / awesome-python,"A curated list of awesome Python frameworks, l..."
3,2dust / v2rayNG,"A V2Ray client for Android, support Xray core ..."
4,karpathy / nanoGPT,"The simplest, fastest repository for training/..."
5,ashemery / exploitation-course,Offensive Software Exploitation Course
6,mxssl / sre-interview-prep-guide,Site Reliability Engineer Interview Preparatio...
7,Developer-Y / cs-video-courses,List of Computer Science courses with video le...
8,Z4nzu / hackingtool,ALL IN ONE Hacking Tool For Hackers
9,zakird / crux-top-lists,Downloadable snapshots of the Chrome Top Milli...
10,termux / termux-packages,A build system and primary set of packages for...
11,priyankavergadia / GCPSketchnote,If you are looking to become a Google Cloud En...
12,vercel / hyper,A terminal built on web technologies
13,alist-org / alist,🗂️A file list program that supports multiple s...
14,ocornut / imgui,Dear ImGui: Bloat-free Graphical User interfac...
15,calcom / cal.com,Scheduling infrastructure for absolutely every...
16,pola-rs / polars,"Fast multi-threaded, hybrid-streaming DataFram..."
17,github / docs,The open-source repo for docs.github.com
18,jerryjliu / gpt_index,An index created by GPT to organize external i...
19,OpenBB-finance / OpenBBTerminal,"Investment Research for Everyone, Anywhere."
20,itzg / docker-minecraft-server,Docker image that provides a Minecraft Server ...
21,pmndrs / zustand,🐻 Bear necessities for state management in React
22,google / osv-scanner,Vulnerability scanner written in Go which uses...
23,jellyfin / Swiftfin,Native Jellyfin Client for iOS and tvOS
24,laurent22 / joplin,Joplin - an open source note taking and to-do ...

# 6. Scrape the details of top 100 songs on billiboard.com.
Url = https:/www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [60]:
#  connecting webdriver
driver=webdriver.Chrome(r"chromedriver.exe")
#Oppening url
driver.get("https:/www.billboard.com/")

# maximize window
driver.maximize_window()

#clicking on chart
chart=driver.find_element(By.XPATH, '/html/body/div[3]/header/div/div[2]/div/div/div[2]/div[2]/div/div/nav/ul/li[1]/a').click()
time.sleep(10)

In [62]:
#clicking on hot 100
hot100=driver.find_element(By.XPATH, '/html/body/div[3]/main/div[2]/div[3]/div/div/div[2]/div/div[1]/a/span/span').click()
time.sleep(3)

name=[]
n1=driver.find_elements(By.XPATH, '//h3[@id="title-of-a-story"]')
for i in n1[6:405:4]:
    name.append(i.text)
    
    
artist=[]
a1=driver.find_elements(By.XPATH, '//span[@class="c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only u-font-size-20@tablet"]')
a2=driver.find_elements(By.XPATH, '//span[@class="c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only"]')
for i in a1:
    artist.append(i.text)
for i in a2:
    artist.append(i.text) 
    
week_rank=[]
week1=driver.find_elements(By.XPATH, '//li[@class="o-chart-results-list__item // a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-background-color-white-064@mobile-max u-hidden@mobile-max"]')
for i in week1[:200:2]:
    week_rank.append(i.text)
    
    
week=[]
for i in week1[1:200:2]:
    week.append(i.text)
    
    
peak_rank=[]
p1=driver.find_elements(By.XPATH, '//li[@class="o-chart-results-list__item // a-chart-bg-color a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-background-color-grey-lightest lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-hidden@mobile-max"]')
for i in p1[1:200:2]:
    peak_rank.append(i.text)
    
    
df=pd.DataFrame({'Song name':name,'Artist name':artist,'Last week rank':week_rank,'Peak rank':peak_rank, 'Weeks on board':week})

In [63]:
df

,Song name,Artist name,Last week rank,Peak rank,Weeks on board
0,All I Want For Christmas Is You,Mariah Carey,1,1,57
1,Rockin' Around The Christmas Tree,Brenda Lee,2,2,51
2,Jingle Bell Rock,Bobby Helms,4,3,48
3,A Holly Jolly Christmas,Burl Ives,5,4,31
4,Last Christmas,Wham!,6,5,30
...,...,...,...,...,...
95,Down Home,Jimmie Allen,-,88,5
96,One Thing At A Time,Morgan Wallen,81,37,3
97,Hold Me Closer,Elton John & Britney Spears,89,6,17
98,Far,SZA,61,61,2
99,All Mine,Brent Faiyaz,95,42,20

# 7. Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/
You have to find the following details:
A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location
Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and
click on search. All this should be done through code

In [64]:
#  connecting webdriver
driver=webdriver.Chrome(r"chromedriver.exe")
#Oppening url
driver.get("https://www.naukri.com/hr-recruiters-consultants")

# maximize window
driver.maximize_window()
time.sleep(3)

#entering designation as required
designation=driver.find_element(By.XPATH,"/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/div/div[1]/div[1]/div[2]/input")
designation.send_keys('Data Science')

#Clicking on search
search=driver.find_element(By.XPATH, '/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/button').click()
time.sleep(5)


Name=[i.text for i in driver.find_elements(By.XPATH,'//span[@class="fl ellipsis"]')] 
Designation=[i.text for i in driver.find_elements(By.XPATH, '//span[@class="ellipsis clr"]')]
Company=[i.text for i in driver.find_elements(By.XPATH, '//a[@class="ellipsis"]')[1:100:2]]
Skills=[i.text for i in driver.find_elements(By.XPATH, '//div[@class="hireSec highlightable"]')]

Location=[]
for i in driver.find_elements(By.XPATH, '//p[@class="highlightable"]'):
    i=i.text+'\n-'
    i=i.split('\n')[3]
    Location.append(i)
    
time.sleep(2) 

df=pd.DataFrame({'Name':Name,'Designation':Designation,'Company':Company,'Skills':Skills,'Location':Location})

In [66]:
df.head()

,Name,Designation,Company,Skills,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)

# 8. Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [67]:
#  connecting webdriver
driver=webdriver.Chrome(r"chromedriver.exe")
#Oppening url
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")

# maximize window
driver.maximize_window()
time.sleep(5)

#scraping required data
name=[i.text for i in driver.find_elements(By.XPATH, '//td[@class="left"]')[1:500:5]]
Author=[i.text for i in driver.find_elements(By.XPATH, '//td[@class="left"]')[2:500:5]] 
Volumes=[i.text for i in driver.find_elements(By.XPATH, '//td[@class="left"]')[3:500:5]] 
Publisher=[i.text for i in driver.find_elements(By.XPATH, '//td[@class="left"]')[4:500:5]]
Genre=[i.text for i in driver.find_elements(By.XPATH, '//td[@class="last left"]')]

time.sleep(2)

#creating data frame
df=pd.DataFrame({'Book Name':name,'Author Name':Author,'Volumes sold':Volumes,'Publisher':Publisher,'Genre':Genre})

In [68]:
df

,Book Name,Author Name,Volumes sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

# 9. Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [73]:
#  connecting webdriver
driver=webdriver.Chrome(r"chromedriver.exe")
#Oppening url
driver.get("https://www.imdb.com/list/ls095964455/")

# maximize window
driver.maximize_window()


#scraping required data
name=[]
for i in driver.find_elements(By.XPATH, '//h3[@class="lister-item-header"]'):
    i=i.text.split('(')[0]
    i=i.split('.')[1]
    name.append(i)
    
year=[]
for i in driver.find_elements(By.XPATH, '//h3[@class="lister-item-header"]'):
    i=i.text.split('(')[1]
    i=i.split(')')[0]
    year.append(i) 
    
Genre=[i.text for i in driver.find_elements(By.XPATH, '//span[@class="genre"]')]    
time_=[i.text for i in driver.find_elements(By.XPATH, '//span[@class="runtime"]')]
rating=[i.text for i in driver.find_elements(By.XPATH, '//div[@class="ipl-rating-star small"]')]
votes=[i.text for i in driver.find_elements(By.XPATH, '//span[@name="nv"]')]


df=pd.DataFrame({'Name':name,'Year Span':year,'Genre':Genre,'Runtime':time_,'Rating':rating,'Votes':votes})

In [74]:
df

,Name,Year Span,Genre,Runtime,Rating,Votes
0,Game of Thrones,2011–2019,"Action, Adventure, Drama",57 min,9.2,"2,101,042"
1,Stranger Things,2016–,"Drama, Fantasy, Horror",51 min,8.7,"1,191,412"
2,The Walking Dead,2010–2022,"Drama, Horror, Thriller",44 min,8.1,"994,605"
3,13 Reasons Why,2017–2020,"Drama, Mystery, Thriller",60 min,7.5,"294,357"
4,The 100,2014–2020,"Drama, Mystery, Sci-Fi",43 min,7.6,"253,466"
...,...,...,...,...,...,...
95,Reign,2013–2017,Drama,42 min,7.4,"50,393"
96,A Series of Unfortunate Events,2017–2019,"Adventure, Comedy, Drama",50 min,7.8,"62,023"
97,Criminal Minds,2005–,"Crime, Drama, Mystery",42 min,8.1,"200,072"
98,Scream: The TV Series,2015–2019,"Comedy, Crime, Drama",45 min,7.1,"41,725"
99,The Haunting of Hill House,2018,"Drama, Horror, Mystery",572 min,8.6,"247,164"

# 10. Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/
You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year
Note: - from the home page you have to go to the ShowAllDataset page through code.

In [80]:
#  connecting webdriver
driver=webdriver.Chrome(r"chromedriver.exe")
#Oppening url
driver.get("https://archive.ics.uci.edu/")

# maximize window
driver.maximize_window()

dataset=driver.find_element(By.XPATH,'/html/body/table[1]/tbody/tr/td[2]/span[2]/a/font/b').click()

time.sleep(2)

data=driver.find_elements(By.XPATH, '/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr//p')

name=[i.text for i in data[7:4400:7]]
Data_type=[i.text for i in data[8:4400:7]]
Task=[i.text for i in data[9:4400:7]]
Attribute_type=[i.text for i in data[10:4400:7]]
instances=[i.text for i in data[11:4400:7]] 
No_of_attribute=[i.text for i in data[12:4400:7]] 
Year=[i.text for i in data[13:4400:7]]

df=pd.DataFrame({'Dataset name':name, 'Data type':Data_type,'Task':Task, 'Attribute type':Attribute_type, 'No of instances':instances, 'No of attribute':No_of_attribute, 'Year':Year})

In [81]:
df.head()

,Dataset name,Data type,Task,Attribute type,No of instances,No of attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998